{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [
        {riak_kv, "0.14.*", {git, "git://github.com/basho/riak_kv",
                                       {branch, "master"}}},
        {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}

       ]}.
{edoc_opts, [{doclet, edown_doclet},
	     {src_path, ["src/"]},
	     {subpackages, true}]}.
