{erl_opts, [debug_info]}.
{deps, [
        {riak_core, "0.14.0", {git, "git://github.com/basho/riak_core",
                                    {branch, "master"}}},
        {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}

       ]}.
{edoc_opts, [{doclet, edown_doclet},
	     {src_path, ["src/"]},
	     {subpackages, true}]}.
